.card-container {
    width: 350px;
    height: 430px;
    background: #FFF;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
    color: black;
}

.upper-container {
    height: 150px;
    background: #2A3132;
}

.image-container {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(126px, 100px);
}

.image-container img{
    background: white;
    height: 90px;
    width: 90px;
    border-radius: 50%; 
}

.lower-container {
    background:#336B87;
    height: 280px;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

.lower-container h3, h4 {
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}

.lower-container h3 {
    padding-top: 12px;
}

.lower-container h4 {
    color: white;
    opacity: .7;
    font-weight: bold;
    padding-top: 10px;
}

.lower-container p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.lower-container .btn {
    padding: 12px 20px;
    background: #2A3132;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
}

.lower-container .btn:hover {
    background: transparent;
    color: #2A3132;
    border: 2px solid #2A3132;
}

.lower-container a {
    color: black;
}

#up-image {
    text-align: right;
    margin-left: 410px;
}