.newAccount{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #222f3e;
    text-align: center;
    border-radius: 24px;
}

.newAccount h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.newAccount input[type = "text"],.newAccount input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8395a7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.newAccount input[type = "text"]:focus,.newAccount input[type = "password"]:focus {
    width: 280px;
    border-color: #1dd1a1;
}

.newAccount button[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #10ac84;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.newAccount button[type = "submit"]:focus {
    background: #10ac84;
}