{% extends "layout.html" %}

{% block title %} Contacts App {% endblock %}

{% block content %}
<!--div class="Index">
    <form action="/home" method="POST">
        <h2> Store your contacts </h2>
        <p><button type="submit" class="btn btn-primary">Get started</button></p>
    </form>
</div-->

<div class="jumbotron">
    <h1 class="display-3">Store your contacts</h1>
    <p class="lead">
        <form action="/home", method="POST">
            <p> <button type="submit" class="btn btn-primary btn-lg">Get started</button></p>
        </form>
    </p>
</div>

{% endblock %}