{% extends "layout.html" %}

{% block title %} Contacts App {% endblock %}

{% block content %}
<div class="UserRegistration">
  <form action="/profile" method="POST">
    <p> <h1>Login</h1> </p>
    <p> <input type="text" name="username" placeholder="Username"> </p>
    <p> <input type="password" name="password" placeholder="Password"> </p>
    <p> <button type="submit" name="login">Log in</button> </p>
    <p> New here? <a href="/newUser"> <b>Create an account</b></a> </p>
    <p><a href="/requestPassword"><b>Forgot password?</b></a></p>
  </form>
</div>
{% endblock %}