{% extends "layout.html" %}

{% block title %} Contacts App {% endblock %}

{% block content %}


<div class="CreateAccount">
    <p> <h1>Create your account</h1> </p>
    <form action="/insertUser" method="POST" class="newAccountForm">
      <p> <input type="text" name="name" placeholder="Name"> </p>
      <p> <input type="text" name="username" placeholder="Username"> </p>
      <p> <input type="password" name="password" placeholder="Password"> </p>
      <p> <input type="password" name="conf-password" placeholder="Confirm password"> </p>
      <p> <input type="text" name="email" placeholder="Email"> </p>
      <p> <button type="submit" name="createAcc">Create acount</button> </p>
    </form>
  </div>


{% endblock %}